/*Base Styles*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font: 1rem/1.5 'Courier', sans-serif, Helvetica, 'Century Gothic';
  height: 100%;
}

header {
  padding: .5em;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

h1,
h2,
h3 {
  line-height: 1.3;
  color: #3E474E;
}
h1{
  font-size: 1.6rem;
}

h2 {
  font-size: 1.25rem;
  padding-top: 1em;
}

h3 {
  font-size: .85rem;
}

a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}


.wrapper {


}

.flex-container {
margin: 2em 0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.flex-item {
  /* margin: auto; */
}


.flex-item img {
  max-width: 100%;
  padding-bottom: 1em;
  object-fit: cover;
  width:350px;
  height:350px;
  margin: auto;
  display: block;
}


/* Media Queries -------- */

@media(min-width: 580px) {

  .flex-item img {
    width:230px;
    height:230px;
  }
  .flex-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .flex-item {
    flex: 1 50%;
    padding: 1em;
  }
}


@media(min-width: 768px) {

  .flex-item {
      flex: 1 33%;
  }
  .flex-container {
    margin-right: 6em;
    margin-left: 6em;
  }


}


@media(min-width: 1180px) {

  .flex-item {
      flex: 1 25%;
  }

  .flex-container {
    margin-right: 8em;
    margin-left: 8em;
  }

  .flex-item img {
    width:200px;
    height:200px;
  }
}
